.aboutme_page{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(../../../../assets/images/unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.aboutme_page::after{
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    background-color: rgb(1, 17, 46);
    opacity: .5;
    z-index: 0;
}

.aboutme_page_title{
    z-index: 1;

    text-align: center;
    font-weight: 600;
    font-size: 40px;
}
.aboutme_page_title span{
    color: rgb(255, 145, 0);;
}
.aboutme_page_subtitle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    margin-top: 10px;
    letter-spacing: 2px;
    color: rgb(255, 145, 0);
}
.aboutme_page_subtitle a:nth-child(1) img{
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}
/* .aboutme_page_subtitle a:nth-child(2) img{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    
} */
.aboutme_page_subtitle a{
    transition: all .3s linear;
}
.aboutme_page_subtitle a:hover{
    transform: translateY(-5px);
}

