.mystack_page{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    position: relative;
    width: 100%;
    background-color: #0d2131;
}

.mystack_page::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    background-color: #0d2131;
    box-shadow: 0 0 9px 15px #0d2131;
}
.mystack_page_header{
    padding: 20px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 145, 0);;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;

}
.mystack_page_header::after{
    position: absolute;
    content: '';
    width: 10%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: rgb(255, 145, 0);
    border-radius: 1px;
}
.mystack_page_main{
    
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}





.mystack_page_main_item{
    margin:  20px 0px;
    background-color: #10283b;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px ;
    box-shadow: 0px 0px 3px 10px #10283b;
}

.mystack_page_main_item_header{

    align-self: center;
    height: 70px;
    width:70px;
    background-repeat: no-repeat;
    background-size: cover;
}
.mystack_page_main_item content{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.mystack_page_main_item content p:first-child{
    color: rgb(255, 145, 0);
    letter-spacing: 2px;
    align-self: center;
    font-size: 19px;

}
.mystack_page_main_item content p:last-child{
    padding-top: 5px;
    text-align:  center;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 20px;
}

.mystack_page_main .mystack_page_main_item:nth-child(1) .mystack_page_main_item_header{
    background-image: url(../../../../assets/images/stats.png);
}
.mystack_page_main .mystack_page_main_item:nth-child(2) .mystack_page_main_item_header{
    background-image: url(../../../../assets/images/statistics.png);
}
.mystack_page_main .mystack_page_main_item:nth-child(3) .mystack_page_main_item_header{
    background-image: url(../../../../assets/images/online-shopping.png);
}